<p>forgotpassword works!</p>
<div class="form-container">
    <div class="form-border">
      <h2 class="form-title">forgotpassword</h2>
<form class="k-form k-form-md"  [formGroup]="kendoformfrogotpass">
    
    <kendo-formfield>
        <kendo-label
        text="Email"
        labelCssClass="k-form-label"
        ></kendo-label>

        <kendo-textbox
        formControlName= "formEmail"
        [style.width.px]="200" 
        required
        ></kendo-textbox>
        <kendo-formerror *ngIf="kendoformfrogotpass.get('formEmail')?.hasError('required')">Error: Email is required</kendo-formerror>
        <kendo-formerror *ngIf="kendoformfrogotpass.get('formEmail')?.hasError('email')">Please enter a vaild email address </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label
        text="Create Password"
        labelCssClass="k-form-label"
        ></kendo-label>

        <kendo-textbox
        formControlName= "formCreatePassword"
        [style.width.px]="200"
        required
        ></kendo-textbox>
        <kendo-formerror *ngIf="kendoformfrogotpass.get('formCreatePassword')?.hasError('required')">Error: Create Password is required</kendo-formerror>
        <kendo-formerror *ngIf="kendoformfrogotpass.get('formCreatePassword')?.hasError('minlength')">Error: Create Password must be at least 6 characters</kendo-formerror>
    
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label
        text="Confirm Password"
        labelCssClass="k-form-label"
        ></kendo-label>

        <kendo-textbox
        formControlName= "formConfirmPassword"
        [style.width.px]="200"
        required
        ></kendo-textbox>
        <kendo-formerror *ngIf="kendoformfrogotpass.get('formConfirmPassword')?.hasError('required')">Error: Confirm Password is required</kendo-formerror>
        <kendo-formerror *ngIf="kendoformfrogotpass.get('formConfirmPassword')?.hasError('MustMatch')">Error: Passwords do not match</kendo-formerror>
    </kendo-formfield><br><br>

    <div class="updateButton">
        <button  type="button" (click)="updataNewPasswordAndSave()" style="width: 200px; height: 30px;">Update</button>
    </div>

</form>
</div>
</div>